.history-number {
  background: #fff;
  tr {
    border: 1px solid #B9B9B9;
    background: #E7E7E7;
    th {
      height: 4vmin;
      line-height: 4vmin;
      border: 1px #B9B9B9 solid;
    }
    th:nth-child(4) {
      width:4.5vmin;
    }
    td {
      border: 1px solid #B9B9B9;
    } 
    td:nth-child(n+5) {
      color: blue;
    }
  }
  tr:nth-child(even) {
    background:#fff;
  }
}
