.chen-countdown.theme-b{
  .square {
    border-radius: 3px;
    text-align: center;
    height: 4vmin;
    width: 4vmin;
    color: #E8C10A;
    background: #444553;
    line-height: 2;
  }
  .lotteryImg{
    background: black;
    padding: 1vmin 3vmin;
    border-radius: 0.3vmin;
    color: #fff;
  }
  .font-2p2  {
    font-size:2.2vmin;
  }
}