.history-number {
  box-sizing: border-box;
  table {
    tr {
      background:#e7e7e7;
      th {
        height: 4vmin;
        line-height: 4vmin;
        border:1px #B9B9B9 solid;
        font-size:1.8vmin;
      }
      td {
        padding: 0 0.7vmin;
        border:1px #B9B9B9 solid;
        vertical-align: middle; // TODO
        }
      } 
      td:nth-child(n+4) {
        color: #184dd5;
      }
      td:nth-child(4) {
        color: #555;
      }
      td:nth-child(6) {
        border-right:1px solid #b9b9b9;
      }
      .number-buttons {
        span {
          color: #fff;
          width: 7.8vmin;
          height: 2.8vmin;
          line-height: 2.8vmin;
          background: #b9b9b9;
          border-radius: 0.4vmin; 
          font-size: 0.7vmin; 
          cursor: pointer;
        }
        span:hover {
          background: #50515f; 
        }
        .spanselect {
          background: #50515f;
        }
      }
    }
    tr:nth-child(even) {
      background:#fff; // TODO
    }
  }