.history-number {
  box-sizing: border-box;
  table {
    tr {
      background:#e7e7e7;
      th {
        height: 4vmin;
        line-height: 4vmin;
        border:1px #B9B9B9 solid;
        font-size:1.8vmin;
      }
      td {
        padding: 0.3vmin 0.3vmin;
        border:1px #B9B9B9 solid;
        vertical-align: middle; // TODO
        }
      } 
      td:nth-child(n+3) {
        font-size:1.8vmin;
      }
      td:nth-child(n+4) {
        color: #184dd5;
      }
      td:nth-child(4) {
        color: #555;
      }
      td:nth-child(6) {
        border-right:1px solid #b9b9b9;
      }
      .w-36 {
        width: 36%;
      }
      .number-buttons {
        span {
          color: #fff;
          padding: 0.6vmin 1.3vmin;
          background: #b9b9b9;
          border-radius: 0.4vmin; 
          font-size: 1vmin; 
          cursor: pointer;
          @media only screen and (max-width: 767.98px) {
           // font-size: 0.2vmin;
            padding: 0.6vmin 0.3vmin;
          }
        }
        span:hover {
          background: #50515f; 
        }
        .spanselect {
          background: #50515f;
        }
      }
    }
    tr:nth-child(even) {
      background:#fff; // TODO
    }
  }