.page.home .lottery-issue-board .lottery-issue-and-table .lottery-issue {
  .countdown {
    right: 0vmin;
    bottom: 0vmin;
  }
  .icon {
    width: 9.5vmin;
    img {
      width: 100%;
    }
  }
  .name-issue_no-numbers {
    margin-left: 1.6vmin; 
    line-height: 2.2;
    .top {
      margin-top: -1vmin; 
    }
  }
  .name {
    font-size: 2vmin;
    color: #000000;
  }
  .no {
    color: #ff7324;
  }
  .this-and-next {
    font-size: 1vmin;
    color: #8c8c8c;
  }
}