.dragon-or-tiger-result {
  .announcement-wrapper {
    z-index: 3;
    padding: .7vmin 1vmin;
    background: #edf4fa;
    border: 1px solid #e3e3e3;
    left:2vmin;
    right:2vmin;
    div {
      overflow: hidden;
      height: 2.8vmin;
      padding: 0;
      transition: height .8s ease;
      p {
        line-height: 2.8vmin;
        cursor: pointer;
      }
    }
    .announcement-showed {
      height: 22vmin;
    }
  }
  .announcement-wrapper + div{
    margin-top: 8vmin;
    span {
      cursor: pointer;
    }
  }
 }


