.state-trend {
  .announcement-wrapper {
    z-index: 3;
    padding: .7vmin 1vmin;
    background: #edf4fa;
    border: 1px solid #e3e3e3;
    left:2vmin;
    right:2vmin;
    div {
      overflow: hidden;
      height: 2.8vmin;
      padding: 0;
      transition: height .8s ease;
      p {
        line-height: 2.8vmin;
        cursor: pointer;
      }
    }
    .announcement-showed {
      height: 22vmin;
    }
  }
  .announcement-wrapper + div{
    margin-top: 8vmin;
    span {
      cursor: pointer;
    }
  }
  .from-trend {
    tr {
      td {
        text-align: center;
        border: 1px solid #968e8e;
        padding: 1.5vmin 0;
        span {
          display: inline-block;
          border-radius: 50%;
          min-width: 2vmin;
          min-height: 2vmin;
          padding: .1vmin .1vmin;
        }
      }
    }
    tr:nth-child(1),tr:nth-child(2) {
      background: #ebebeb;
      span {
        position: relative;
        top: 2.4vmin;
      }
    }
    tr:nth-child(2n) {
      background: #ebebeb;
    }
  }
}
