.state-trend {
  padding-bottom: 2vmin;
  .title {
    font-size: 2vmin;
  }
  .top {
    border-bottom: .2vmin solid #e3e3e3;
    padding-left: 2vmin;
    .ivu-radio-group-button {
      position: relative;
      left: 65vmin;
    }
  }
  .explain {
    width: 97%;
    margin: 2vmin auto 0;
    padding: .7vmin 0 .7vmin 1vmin;
    background: #edf4fa;
    font-size: 1vmin;
    border: .1vmin solid #e3e3e3;
    height: 3vmin;
    overflow: hidden;
    span:nth-child(2) {
      float: right;
      margin-right: 2vmin;
    }
  }
  & > table {
    width: 97%;
    margin: 2vmin auto 0;
    font-size: 1vmin;
    tr {
      td {
        text-align: center;
        border: .1vmin solid #968e8e;
        padding: 1.5vmin 0;
        span {
          display: inline-block;
          border-radius: 50%;
          min-width: 2vmin;
          min-height: 2vmin;
          padding: .1vmin .1vmin;
        }
      }
    }
    tr:nth-child(1),tr:nth-child(2) {
      background: #ebebeb;
      span {
        position: relative;
        top: 2.4vmin;
      }
    }
    tr:nth-child(2n) {
      background: #ebebeb;
    }
  }

  background: #ffffff;
}

/deep/ .ivu-radio-group-button {
  .ivu-radio-wrapper {
    margin: 0 1vmin;
    border-radius: 1vmin !important;
    border-left: 1px solid #dcdee2 ;
  }
}
/deep/ .ivu-radio-group-button .ivu-radio-wrapper:after, .ivu-radio-group-button .ivu-radio-wrapper:before {
  display: none !important;
}
/deep/ .ivu-radio-group-button .ivu-radio-wrapper-checked {
  background: #fba75e !important;
  color: #fff !important;
  border: 0px !important;
  box-shadow: 0px 0 0 0 #2d8cf0;
}
/deep/ .el-checkbox-group {
  display: inline-block !important;
}