.popular-analysis {
  .demo-badge{
    width: 42px;
    height: 42px;
    background: #eee;
    border-radius: 6px;
    display: inline-block;
  }
  & > div {
    font-size: 1vmin;
  }
  .announcement {
    margin: 1.2vmin 0;
  }

  table {
    .numbers {
      max-width: 54.6vmin;
    }
    font-size: 1.7vmin;
    th:first-child {
      width: 15%;
    }
    th:nth-child(n + 2) {
      width: calc(85% / 3 );
    }
    th, td {
      height: 6vmin;
      border: 1px solid #d6d6d6;
      padding: 0.5vmin;
    }
    th {
      background: #ebebeb;
    }
  }
  ::v-deep .ivu-checkbox-group {
    display: inline-block;
  }
  ::v-deep .ivu-checkbox-wrapper {
    margin: 0px;
  }
  ::v-deep .popular-analysis[data-v-735c06f5] .ivu-checkbox-wrapper:hover{
    color: #fba75e;
  }
}

