.popular-analysis {
  & > div {
    font-size: 1vmin;
  }
  .title {
    font-size: 2vmin;
  }
  .top {
    border-bottom: 1px solid #e3e3e3;
  }
  .announcement {
    margin: 1.2vmin 0;
  }

  table {
    font-size: 1.7vmin;
    th:first-child {
      width: 15%;
    }
    th, td {
      height: 7vmin;
      border: 1px solid #d6d6d6;
    }
    th {
      background: #ebebeb;
    }
  }
  /deep/ .ivu-checkbox-group {
    display: inline-block;
  }
  /deep/ .ivu-checkbox-wrapper {
    margin: 0px;
  }
}

