.odd-or-even-small-or-large-history {
  padding-bottom: 2vmin;
  .title {
    font-size: 2vmin;
  }
  .top {
    border-bottom: 1px solid #f0f0f0;
  }
  table {
    width: 100%;
    // TODO
    margin: 2vmin auto 0;
    td {
      border: .1vmin solid #e3e3e3;
      text-align: center;
      padding: 1.5vmin .5vmin;
    }
    tr:nth-child(1) {
      span {
        position: relative;
        top: 2.5vmin;
      }
    }
    tr:nth-child(1),tr:nth-child(2) {
      background: #ebebeb;
    }
    tr:nth-child(2n) {
      background: #ebebeb;
    }
  }
  background: #ffffff;
}