.summation-result {
  .date-selection {
    flex: 1;
  }
  .odd, .even, .small, .large {
    width: 2.5vmin;
    height: 2.5vmin;
  }

  ::v-deep .line-break {
    height: 100%;
    width: 1px;
    background-color: #f0f0f0;
  }
  .odd-even-pannel, .small-large-pannel {
    height: 400px;
  } 
  background: #ffffff;
}

::v-deep .ivu-radio-group-button .ivu-radio-wrapper {
  border: 0!important;
}
