.summation-result {
  .date-selection {
    flex: 1;
  }
  .odd, .even, .small, .large {
    width: 2.5vmin;
    height: 2.5vmin;
  }

  /deep/ .line-break {
    height: 100%;
    width: 1px;
    background-color: #f0f0f0;
  }
  .odd-even-pannel, .small-large-pannel {
    height: 400px;
  } 
  background: #ffffff;
}

/deep/ .ivu-radio-group-button {
  .ivu-radio-wrapper {
    border: 0 !important;
  }
}

/deep/ .ivu-radio-group-button .ivu-radio-wrapper:first-child, /deep/ .ivu-radio-group-button .ivu-radio-wrapper:last-child {
  border-radius: 0.6vmin; 
}
/deep/ .ivu-radio-group-button .ivu-radio-wrapper:after, .ivu-radio-group-button .ivu-radio-wrapper:before {
  display: none !important;
}
/deep/ .ivu-radio-group-button .ivu-radio-wrapper-checked {
  background: #fba75e !important;
  color: #fff !important;
  border-radius: 0.6vmin; 
  border: 0px !important;
  box-shadow: 0px 0 0 0 #fba75e !important;
}
/deep/ .el-checkbox-group {
  display: inline-block !important;
}
.ivu-radio-group-button .ivu-radio-wrapper:hover {
  color: red;
}