.board {
  width: 70%;
  .select {
    top: 0;
    right: 0;
  }
  text-align: center;
  .tables {
    width:100%;
    tr{
       
      td {
         border:1px solid #E7E7E7;
         padding: 1.3vmin 0;
      }
    }
  }
}
.table > span {
  position: absolute;
  top:1.2vmin;
  right:1.2vmin;
}
/deep/ .el-tabs__item {
  font-size: 1.8vmin;
}