.board {
  width: 80%;
  .select {
    top: 0;
    right: 0;
  }
  .tables {
    width:100%;
    tr{
       text-align: center;
      td {
         border:1px solid #E7E7E7;
         padding: 1.3vmin 0;
      }
      td:nth-child(1) {
        width:20vmin;
      }
      td:nth-child(3) {
        width:15vmin;
      }
      td:nth-child(4) {
        width:8vmin;
      }
      td:last-child {
        width:12vmin;
      }
      td:nth-child(4):hover , td:last-child:hover  {
        color: orangered;
        cursor: pointer;  
      }
    }
  }
}
.table > span {
  position: absolute;
  top:1.2vmin;
  right:1.2vmin;
}
/deep/ .el-tabs__item {
  font-size: 1.8vmin;
}