
::v-deep .ivu-select-selection, ::v-deep .ivu-select-selection:hover {
  border-color: #DCDEE2;
}

::v-deep .ivu-select-item-selected, ::v-deep .ivu-select-item-selected, .ivu-select-item-selected:hover {
  color: #515A6E;
}

.ivu-select-visible ::v-deep .ivu-select-selection {
  border-color: #515A6E;
  outline: 0;
  box-shadow: 0 0 0 0;
}
.ivu-select-single ::v-deep  .ivu-select-selection .ivu-select-placeholder {
  color:#242424;
}
