
/deep/ .ivu-select-selection, /deep/ .ivu-select-selection:hover {
  border-color: #DCDEE2;
}

/deep/ .ivu-select-item-selected, /deep/ .ivu-select-item-selected, .ivu-select-item-selected:hover {
  color: #515A6E;
}

.ivu-select-visible /deep/ .ivu-select-selection {
  border-color: #515A6E;
  outline: 0;
  box-shadow: 0 0 0 0;
}
.ivu-select-single /deep/  .ivu-select-selection .ivu-select-placeholder {
  color:#242424;
}
