.numbers {
  & > * {
    display: inline-block;
    text-align: center;
    background-color: #5f5f5f;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  & > *:nth-child(n + 2) {
    margin-left: 0.23vmin;
  }
  .ssc {
    width: 4vmin;
    height: 4vmin;
    font-size: 1.6vmin;
    border-radius: 2vmin;
    background-color: #0092dd;
  }

  .kl8 {
    width: 2.5vmin;
    height: 2.5vmin;
    font-size: 0.8vmin;
    border-radius: 1.25vmin;
    background-color: #0092dd;
  }

  .pk10 {
    width: 40px;
    height: 40px;
    font-size: 0.8vmin;
    background-color: #127252;
    color: rgba($color: #000000, $alpha: 0);
    @media only screen and (max-width: 767.98px) {
      width: 32px;
      height: 32px;
    }

    @media only screen and (max-width: 545.98px) {
      width: 24px;
      height: 24px;
    }
  }

  .pk10-1, .pk10-01 {
    background: url('~@/assets/images/numbers.png') no-repeat -246px 0;
    background-size: 468px 279px;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -196.8px 0;
      background-size: 374.4px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -147.8px 0;
      background-size: 280.8px 167.4px;
    }
  }

  .pk10-2, .pk10-02 {
    background: url('~@/assets/images/numbers.png') no-repeat -42px 0;
    background-size: 468px 279px;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -33.6px 0;
      background-size: 374.4px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -25.2px 0;
      background-size: 280.8px 167.4px;
    }
  }

  .pk10-3, .pk10-03 {
    background: url('~@/assets/images/numbers.png') no-repeat -83px 0;
    background-size: 468px 279px;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -66.4px 0;
      background-size: 374.4px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -49.8px 0;
      background-size: 280.8px 167.4px;
    }
  }

  .pk10-4, .pk10-04 {
    background: url('~@/assets/images/numbers.png') no-repeat -123px 0;
    background-size: 468px 279px;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -98.4px 0;
      background-size: 374.4px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -73.8px 0;
      background-size: 280.8px 167.4px;
    }
  }

  .pk10-5, .pk10-05 {
    background: url('~@/assets/images/numbers.png') no-repeat -286px 0;
    background-size: 468px 279px;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -228.8px 0;
      background-size: 374.4px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -171.6px 0;
      background-size: 280.8px 167.4px;
    }
  }

  .pk10-6, .pk10-06 {
    background: url('~@/assets/images/numbers.png') no-repeat -1px 0;
    background-size: 468px 279px;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -0.8px 0;
      background-size: 374.4px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -0.6px 0;
      background-size: 280.8px 167.4px;
    }
  }

  .pk10-7, .pk10-07 {
    background: url('~@/assets/images/numbers.png') no-repeat -205px 0;
    background-size: 468px 279px;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -164px 0;
      background-size: 374.4px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -123px 0;
      background-size: 280.8px 167.4px;
    }
  }

  .pk10-8, .pk10-08 {
    background: url('~@/assets/images/numbers.png') no-repeat -164px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -131.2px 0;
      background-size: 374.4px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -98.4px 0;
      background-size: 280.8px 167.4px;
    }
  }

  .pk10-9, .pk10-09 {
    background: url('~@/assets/images/numbers.png') no-repeat -327px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -261.6px 0;
      background-size: 374.4px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -196.2px 0;
      background-size: 280.8px 167.4px;
    }
  }

  .pk10-10 {
    background: url('~@/assets/images/numbers.png') no-repeat -368px 0;
        @media only screen and (max-width: 767.98px) {
          background: url('~@/assets/images/numbers.png') no-repeat -294.4px 0;
          background-size: 374.4px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -220.8px 0;
      background-size: 280.8px 167.4px;
    }
  }

  .six {
    width: 2vmin;
    height: 2vmin;
    font-size: 0.8vmin;
    border-radius: 1vmin;
    background-color: #0092dd;
  }

  .six:last-child {
    background-color: red;
  }

  & > .3d {
    width: 2vmin;
    height: 2vmin;
    font-size: 0.8vmin;
    border-radius: 1vmin;
    background-color: #127252;
  }

  .k3 {
    width: 43px;
    height: 43px;
    color: rgba($color: #000000, $alpha: 0);
    background-size: auto;
  }
    
  .k3-1 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px 0;
  }
  
  .k3-2 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -43px;
  }
  
  .k3-3 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -86px;
  }
  
  .k3-4 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -129px;
  }
  
  .k3-5 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -172px;
  }
  
  .k3-6 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -215px;
  }
}