.numbers {
  & > * {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    background-color: #5f5f5f;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  & > *:nth-child(n + 2) {
    margin-left: 0.5vmin;
  }
  .ssc {
    width: 4vmin;
    height: 4vmin;
    font-size: 1.6vmin;
    border-radius: 2vmin;
    background-color: #0092dd;
  }

  .kl8 {
    width: 2.5vmin;
    height: 2.5vmin;
    font-size: 0.8vmin;
    border-radius: 1.25vmin;
    background-color: #0092dd;
  }

  .pk10 {
    width: 2vmin;
    height: 2vmin;
    font-size: 0.8vmin;
    border-radius: 1vmin;
    background-color: #127252;
  }

  & > .f3d {
    width: 2vmin;
    height: 2vmin;
    font-size: 0.8vmin;
    border-radius: 1vmin;
    background-color: #127252;
  }
}