.number-analysis {
  .head {
    min-width: 100%;
    padding: 2vmin 2vmin;
    box-sizing: border-box;
    span:first-child {
      font-size:2vmin;
      margin-right:3vmin;  
    }
    span:nth-of-type(n+2) {
      padding:0.6vmin 1.1vmin;
      border-radius:0.5vmin;
      border:1px solid #DDDDDD;
      font-size:1.3vmin;
      margin-left:0.8vmin;
    }
    span:nth-of-type(n+2):hover {
      cursor: pointer;
      color:#f4831e;
    } 
    .reset {
      display:inline-block;
      height:32px;
      background:#f9982e;
      width:90px!important;
      text-align: center;
      color:#fff;
    } 
  }
}