header {
  .top {
    background: #ebebeb;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    color: #666666;
    font-size: 1vmin;
    line-height: 2.5;

    .notification {
      img {
        vertical-align: middle;
        margin-right: 3px;
      }
    }
    .tool {
      float: right;
      span {
        margin-left: 1vmin;
      }
      span::after {
        content: "|";
        margin-left: 1vmin;
      }
      span:last-child:after { 
        content: ""; 
      }
    }
  }

  .qrcode {
    float: right;
  }

}
