.rule-head {
  height: 5vmin;
  line-height: 5vmin;
  font-weight: bold;
}
.rule-content {
  .lottery-menu {
    ul {
      li {
        padding: 2.5vmin 6vmin; 
        text-align: center;
        background: #fff;
        border: 1px solid #e5e5e5;
        cursor: pointer; 
      }
      li:hover {
        background: #e5e5e5;
        color: #ff7b00;
      }
      .background-li {
        background: #e5e5e5;  
      } 
      li:first-child {
        background: #4e515e;
        color: #fff;
      }
    }
  }
  .rule-details {
    .font-size-2p1 {
      font-size: 2.1vmin !important;
    }
    .rule-pk10,.rule-xjssc {
      padding: 5vmin 11vmin 2vmin;
      p {
        margin: .5vmin 0;
      }
      tr:first-child {
        background: #ededed;
      }
      td {
        border: 1px #000 solid;
        padding: 1vmin 0;
        span {
          top: 2vmin;
        }
        .sum-bet {
          top: 35vmin;
        }
      }
    }
    .rule-cqssc {
      padding: 5vmin 12.4vmin 2vmin;
      p:nth-child(n+2) {
        margin: 1vmin 0; 
        font-size: 1.4vmin;
      }
    } 
  }
}

.backgrond-mian {
  background: #f0f0f0;
}

