.page.rule {
  .rule-head {
    height: 5vmin;
    line-height: 5vmin;
    font-weight: bold;
  }
  .rule-content {
    .lottery-menu {
      ul {
        li {
          padding: 2.5vmin 0; 
          text-align: center;
          background: #fff;
          border: 1px solid #e5e5e5;
          cursor: pointer; 
        }
        li:hover {
          background: #e5e5e5;
        }
        .background-li {
          background: #e5e5e5;  
        } 
        li:first-child {
          background: #4e515e;
          color: #fff;
        }
      }
    }
    .rule-details {
      .font-size-2p1 {
        font-size: 2.1vmin !important;
      }
      .pk10, .xjssc, .pl3, .gdklsf, .gd11x5, .jsk3, .sd11x5, .cqxync, .k3, .gd11x5, .bjkl8, .pcdd, .fc3d, .twbg {
        margin-top: 5vmin;
        padding: 5vmin 11vmin 2vmin;
        p {
          margin: .5vmin 0;
        }
        tr:first-child {
          background: #ededed;
        }
        td {
          border: 1px #000 solid;
          padding: 1vmin 0;
          span {
            top: 2vmin;
          }
          .sum-bet {
            top: 35vmin;
          }
        }
      }
      .cqssc {
        margin-top: 5vmin;
        padding: 5vmin 12.4vmin 2vmin;
        p:nth-child(n+2) {
          margin: 1vmin 0; 
          font-size: 1.8vmin;
        }
      } 
      .backgrond-yellow {
        background: #FFFF99;
      }
      .backgrond-pink {
        background: #FF99CC;
      }
      .backgrond-green {
        background: #CCFFFF;
      }
      .backgrond-army-green {
        background: #99CCFF;
      }
      .backgrond-deep-yellow {
        background: #FFCC00;
      }
    }
  }
  .backgrond-mian {
    background: #f0f0f0;
  }
}