.result-table {
  border: 1px solid #f0f0f0;
  .table-top {
    background: #f0f0f0;
  }
  & > div {
    position: relative;
  }
  & > div:nth-child(2) {
    overflow: auto;
    width: 100%;
    border: 1px solid #e6e6e6;
    & > div {
      min-width: 190vmin;
      white-space: nowrap;
      div {
        text-align: center;
        display: inline-block;
        width: 4vmin;
        min-height: 12vmin;
        padding-bottom: 5vmin;
      }
      .background-even {
        background: #f0f0f0;
      }
    }
  }
  input,select {
    width: 5vmin;
    height: 3vmin;
  }

  button {
    margin: 0 .5vmin;
    background: #888aa0;
    border: 0px;
  }
  .grand {
     @media only screen and (max-width: 991.98px) {
      display: none !important;
    }
  }
}

 .ivu-btn-primary:hover {
  background-color: #FBAD58!important;
  border-color: #FBAD58!important;
}