.crown-table {

   th {
    height: 4vmin;
    line-height: 4vmin;
    border:1px #B9B9B9 solid;
    font-size:1.8vmin;
    background:#EBEBEB;
  }
  td {
    padding: 0.3vmin 1.65vmin;
    border:1px #B9B9B9 solid;
    vertical-align: middle;
    }
}