/deep/ .ivu-input:hover {
  border-color: #FBA75E;
}
/deep/ .ivu-input:focus {
  border-color: #FBA75E;
  outline: 0;
  box-shadow: 0 0 0 0px rgba(240,113,7,.2);
}

/deep/ .ivu-date-picker-cells-cell-selected em, .ivu-date-picker-cells-cell-selected:hover em {
  background: #FBA75E;
  color: #fff;
}

/deep/ .ivu-date-picker-cells-focused em {
  box-shadow: 0 0 0 1px #FBA75E inset;
}

/deep/ .ivu-date-picker-cells-cell-today em:after, /deep/ .ivu-date-picker-cells-cell:hover em {
  background: #FBA75E;
}