::v-deep .ivu-input:hover {
  border-color: #FBA75E;
}
::v-deep .ivu-input:focus {
  border-color: #FBA75E;
  outline: 0;
  box-shadow: 0 0 0 0px rgba(240,113,7,.2);
}

::v-deep .ivu-date-picker-cells-cell-selected em, .ivu-date-picker-cells-cell-selected:hover em {
  background: #FBA75E;
  color: #fff;
}

::v-deep .ivu-date-picker-cells-focused em {
  box-shadow: 0 0 0 1px #FBA75E inset;
}

::v-deep .ivu-date-picker-cells-cell-today em:after, ::v-deep .ivu-date-picker-cells-cell:hover em {
  background: #FBA75E;
}

::v-deep .ivu-input-with-suffix {
  padding-right: 3vmin !important;
}

::v-deep .ivu-input {
  width: 20vmin;
  padding: 1.6vmin 1.6vmin;
  border-radius: .5vmin;
}

::v-deep .ivu-date-picker-cells {
  width: 21vmin;
  margin: .1vmin;
}
