html {
  font-size: 16px; /* The font-size of root HTML is 16px; */
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  
  a {
    color: #666666;
  }
  a:hover {
    color: #f4831e;
  }
  .active {
    border:1px solid #f4831e !important;
    position:relative;
    color: #f4831e;
    i { 
      position: absolute;
      top: 15px;
      right: 0;
      display: inline-block;
      height: 15px;
      width: 15px;
      background: url("~@/assets/images/numbers.png") no-repeat -386px -58px;
     }
  }
}

.numbers {
  & > * {
    display: inline-block;
    text-align: center;
    background-color: #5f5f5f;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  & > *:nth-child(n + 2) {
    margin-left: 0.23vmin;
  }
  .number-ssc {
    width: 4.5vmin;
    height: 4.5vmin;
    font-size: 1.8vmin;
    border-radius: 2.25vmin;
    color: #ffffff;
    background-color: #0092dd;
    line-height: 4.5vmin;
  }
  .ssc-height-4 {
    height:4.1vmin;
  }
  .number-cqssc.number-ssc-0, .number-cqssc.number-ssc-00 {
    background: url('~@/assets/images/numbers-cqssc.png') no-repeat -488px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqssc.number-ssc-1, .number-cqssc.number-ssc-01 {
    background: url('~@/assets/images/numbers-cqssc.png') no-repeat 0 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqssc.number-ssc-2, .number-cqssc.number-ssc-02 {
    background: url('~@/assets/images/numbers-cqssc.png') no-repeat -52px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqssc.number-ssc-3, .number-cqssc.number-ssc-03 {
    background: url('~@/assets/images/numbers-cqssc.png') no-repeat -106px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqssc.number-ssc-4, .number-cqssc.number-ssc-04 {
    background: url('~@/assets/images/numbers-cqssc.png') no-repeat -161px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqssc.number-ssc-5, .number-cqssc.number-ssc-05 {
    background: url('~@/assets/images/numbers-cqssc.png') no-repeat -215px 0;
    color: rgba($color: #000000, $alpha: 0);
  }


  .number-cqssc.number-ssc-6, .number-cqssc.number-ssc-06 {
    background: url('~@/assets/images/numbers-cqssc.png') no-repeat -270px 0;
    color: rgba($color: #000000, $alpha: 0);
  }


  .number-cqssc.number-ssc-7, .number-cqssc.number-ssc-07 {
    background: url('~@/assets/images/numbers-cqssc.png') no-repeat -324px 0;
    color: rgba($color: #000000, $alpha: 0);
  }


  .number-cqssc.number-ssc-8, .number-cqssc.number-ssc-08 {
    background: url('~@/assets/images/numbers-cqssc.png') no-repeat -379px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqssc.number-ssc-9, .number-cqssc.number-ssc-09 {
    background: url('~@/assets/images/numbers-cqssc.png') no-repeat -433px 0;
    color: rgba($color: #000000, $alpha: 0);
  }


  .number-11x5 {
    width: 4vmin;
    height: 4vmin;
    font-size: 1.6vmin;
    border-radius: 2vmin;
    color: #ffffff;
    background-color: #0092dd;
    line-height: 4vmin;
  }

  .number-xy28 {
    width: 4vmin;
    height: 4vmin;
    font-size: 1.6vmin;
    border-radius: 2vmin;
    color: #ffffff;
    background-color: #0092dd;
    line-height: 4vmin;
  }

  
  .number-pcdd {
    width: 4vmin;
    height: 4vmin;
    font-size: 1.6vmin;
    border-radius: 2vmin;
    color: #ffffff;
    background-color: #0092dd;
    line-height: 4vmin;
  }

  .number-kl8 {
    width: 2.6vmin;
    height: 2.6vmin;
    font-size: 1vmin;
    border-radius: 1.3vmin;
    color: #ffffff;
    background-color: #0092dd;
    line-height: 2.6vmin;
  }

  .number-kl8-1, .number-kl8-01, .number-kl8-3, .number-kl8-03, .number-kl8-5, .number-kl8-05, .number-kl8-7, .number-kl8-07, .number-kl8-9, .number-kl8-09, 
  .number-kl8-11, .number-kl8-13, .number-kl8-15, .number-kl8-17, .number-kl8-19,
  .number-kl8-21, .number-kl8-23, .number-kl8-25, .number-kl8-27, .number-kl8-29,
  .number-kl8-31, .number-kl8-33, .number-kl8-35, .number-kl8-37, .number-kl8-39,
  .number-kl8-41, .number-kl8-43, .number-kl8-45, .number-kl8-47, .number-kl8-49,
  .number-kl8-51, .number-kl8-53, .number-kl8-55, .number-kl8-57, .number-kl8-59,
  .number-kl8-61, .number-kl8-63, .number-kl8-65, .number-kl8-67, .number-kl8-69,
  .number-kl8-71, .number-kl8-73, .number-kl8-75, .number-kl8-77, .number-kl8-79
  {
    background-color: #0092dd;
  }
  
  .number-kl8-2, .number-kl8-02,.number-kl8-4, .number-kl8-04, .number-kl8-6, .number-kl8-06, .number-kl8-8, .number-kl8-08, .number-kl8-10, 
  .number-kl8-12, .number-kl8-14, .number-kl8-16, .number-kl8-18, .number-kl8-20,
  .number-kl8-22, .number-kl8-24, .number-kl8-26, .number-kl8-28, .number-kl8-30,
  .number-kl8-32, .number-kl8-34, .number-kl8-36, .number-kl8-38, .number-kl8-40,
  .number-kl8-42, .number-kl8-44, .number-kl8-46, .number-kl8-48, .number-kl8-50,
  .number-kl8-52, .number-kl8-54, .number-kl8-56, .number-kl8-518, .number-kl8-60,
  .number-kl8-62, .number-kl8-64, .number-kl8-66, .number-kl8-68, .number-kl8-70,
  .number-kl8-72, .number-kl8-74, .number-kl8-76, .number-kl8-78, .number-kl8-80 {
    background-color: #006192;
  }

  .number-pk10 {
    width: 40px;
    height: 40px;
    font-size: 0.8vmin;
    background-color: #127252;
    color: rgba($color: #000000, $alpha: 0);
    @media only screen and (max-width: 767.98px) {
      width: 32px;
      height: 32px;
    }

    @media only screen and (max-width: 545.98px) {
      width: 24px;
      height: 24px;
    }
  }

  .number-pk10-1, .number-pk10-01 {
    background: url('~@/assets/images/numbers.png') no-repeat -246px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -196.8px 0;
      background-size: 409.6px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -147.8px 0;
      background-size: 307.2px 167.4px;
    }
  }

  .number-pk10-2, .number-pk10-02 {
    background: url('~@/assets/images/numbers.png') no-repeat -42px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -33.6px 0;
      background-size: 409.6px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -25.2px 0;
      background-size: 307.2px 167.4px;
    }
  }

  .number-pk10-3, .number-pk10-03 {
    background: url('~@/assets/images/numbers.png') no-repeat -83px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -66.4px 0;
      background-size: 409.6px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -49.8px 0;
      background-size: 307.2px 167.4px;
    }
  }

  .number-pk10-4, .number-pk10-04 {
    background: url('~@/assets/images/numbers.png') no-repeat -123px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -98.4px 0;
      background-size: 409.6px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -73.8px 0;
      background-size: 307.2px 167.4px;
    }
  }

  .number-pk10-5, .number-pk10-05 {
    background: url('~@/assets/images/numbers.png') no-repeat -286px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -228.8px 0;
      background-size: 409.6px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -171.6px 0;
      background-size: 307.2px 167.4px;
    }
  }

  .number-pk10-6, .number-pk10-06 {
    background: url('~@/assets/images/numbers.png') no-repeat -1px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -0.8px 0;
      background-size: 409.6px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -0.6px 0;
      background-size: 307.2px 167.4px;
    }
  }

  .number-pk10-7, .number-pk10-07 {
    background: url('~@/assets/images/numbers.png') no-repeat -205px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -164px 0;
      background-size: 409.6px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -123px 0;
      background-size: 307.2px 167.4px;
    }
  }

  .number-pk10-8, .number-pk10-08 {
    background: url('~@/assets/images/numbers.png') no-repeat -164px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -131.2px 0;
      background-size: 409.6px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -98.4px 0;
      background-size: 307.2px 167.4px;
    }
  }

  .number-pk10-9, .number-pk10-09 {
    background: url('~@/assets/images/numbers.png') no-repeat -327px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -261.6px 0;
      background-size: 409.6px 223.2px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -196.2px 0;
      background-size: 307.2px 167.4px;
    }
  }

  .number-pk10-10 {
    background: url('~@/assets/images/numbers.png') no-repeat -368px 0;
    @media only screen and (max-width: 767.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -294.4px 0;
      background-size: 307.2px 167.4px;
    }

    @media only screen and (max-width: 545.98px) {
      background: url('~@/assets/images/numbers.png') no-repeat -220.8px 0;
      background-size: 280.8px 167.4px;
    }
  }

  .number-six {
    width: 4vmin;
    height: 4vmin;
    font-size: 1.6vmin;
    border-radius: 2vmin;
    color: #ffffff;
    background-color: #0092dd;
    line-height: 4vmin;
  }

  .number-six:last-child {
    background-color: red;
  }

  .number-3d {
    width: 4vmin;
    height: 4vmin;
    font-size: 1.6vmin;
    border-radius: 2vmin;
    color: #ffffff;
    background-color: #0092dd;
    line-height: 4vmin;
  }

  .number-klsf {
    width: 4vmin;
    height: 4vmin;
    font-size: 1.6vmin;
    border-radius: 2vmin;
    color: #ffffff;
    background-color: #0092dd;
    line-height: 4vmin;
  }

  .number-cqklsf.number-klsf-1, .number-cqklsf.number-klsf-01 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat 0 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-2, .number-cqklsf.number-klsf-02 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -55px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-3, .number-cqklsf.number-klsf-03 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -109px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-4, .number-cqklsf.number-klsf-04 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -164px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-5, .number-cqklsf.number-klsf-05 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -218px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-6, .number-cqklsf.number-klsf-06 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -273px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-7, .number-cqklsf.number-klsf-07 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -327px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-8, .number-cqklsf.number-klsf-08 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -382px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-9, .number-cqklsf.number-klsf-09 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -436px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-10 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -491px 0;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-11 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat 0 -77px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-12 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -55px -77px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-13 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -109px -77px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-14 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -164px -77px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-15 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -218px -77px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-16 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -273px -77px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-17 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -327px -77px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-18 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -382px -77px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-19 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -436px -77px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-cqklsf.number-klsf-20 {
    background: url('~@/assets/images/numbers-cqklsf.png') no-repeat -491px -77px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .number-k3 {
    width: 43px;
    height: 43px;
    color: rgba($color: #000000, $alpha: 0);
    background-size: auto;
  }
    
  .number-k3-1, .number-k3-01 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px 0;
  }
  
  .number-k3-2, .number-k3-02 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -43px;
  }
  
  .number-k3-3, .number-k3-03 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -86px;
  }
  
  .number-k3-4, .number-k3-04 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -129px;
  }
  
  .number-k3-5, .number-k3-05 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -172px;
  }
  
  .number-k3-6, .number-k3-06 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -215px;
  }
  
  .odd {
    background: url("~@/assets/images/square.png") no-repeat -119px -237px;
    width:34px;height:34px;
  }/*方形背景单*/ 
  .even {
    background: url("~@/assets/images/square.png") no-repeat -79px -237px;
     width:34px;height:34px;
  } /*方形背景双*/
  .background-sm {background: url("~@/assets/images/square.png") no-repeat -40px -237px;width:34px;height:34px;}/*方形背景小*/
  .background-lg {background: url("~@/assets/images/square.png") no-repeat 0 -237px;width:34px;height:34px;}/*方形背景大*/

  /*详情页小方片数字*/
  .num-01 {background: url("~@/assets/images/square.png") no-repeat -245px -284px;width:34px!important;height:34px!important;}
  .num-02 {background: url("~@/assets/images/square.png") no-repeat -41px -284px;width:34px!important;height:34px!important;}
  .num-03 {background: url("~@/assets/images/square.png") no-repeat -82px -284px;width:34px!important;height:34px!important;}
  .num-04 {background: url("~@/assets/images/square.png") no-repeat -122px -284px;width:34px!important;height:34px!important;}
  .num-05 {background: url("~@/assets/images/square.png") no-repeat -285px -284px;width:34px!important;height:34px!important;}
  .num-06 {background: url("~@/assets/images/square.png") no-repeat 0 -284px;width:34px!important;height:34px!important;}
  .num-07 {background: url("~@/assets/images/square.png") no-repeat -204px -284px;width:34px!important;height:34px!important;}
  .num-08 {background: url("~@/assets/images/square.png") no-repeat -163px -284px;width:34px!important;height:34px!important;}
  .num-09 {background: url("~@/assets/images/square.png") no-repeat -326px -284px;width:34px!important;height:34px!important;}
  .num-010 {background: url("~@/assets/images/square.png") no-repeat -367px -284px;width:34px!important;height:34px!important;}

  .round-odd {background: url("~@/assets/images/square.png") no-repeat -138px -327px;width:36px!important;height:36px!important;}/*圆形背景单*/ 
  .round-even {background: url("~@/assets/images/square.png") no-repeat -90px -327px;width:36px!important;height:36px!important;} /*圆形背景双*/

  .background-round-sm {background: url("~@/assets/images/square.png") no-repeat -46px -327px;width:36px!important;height:36px!important;}/*圆形背景小*/
  .background-round-lg {background: url("~@/assets/images/square.png") no-repeat 0 -327px;width:36px!important;height:36px!important;} /*圆形背景大*/
  .background-round-sum {background: url("~@/assets/images/square.png") no-repeat -318px -326px;width:36px!important;height:36px!important;} /*圆形背景和*/

  
  .number-red {background: url("~@/assets/images/square.png") no-repeat 0 -373px;width:36px!important;height:36px!important;}   /*红圈*/
  .number-blue {background: url("~@/assets/images/square.png") no-repeat -46px -373px;width:36px;height:36px!important;}   /*蓝圈*/

  .k3-01 {background: url("~@/assets/images/square.png") no-repeat -424px 0;width:36px!important;height:40px!important;}
  .k3-02 {background: url("~@/assets/images/square.png") no-repeat -424px -43px;width:36px!important;height:40px!important;}
  .k3-03 {background: url("~@/assets/images/square.png") no-repeat -424px -86px;width:36px!important;height:40px!important;}
  .k3-04 {background: url("~@/assets/images/square.png") no-repeat -424px -129px;width:36px!important;height:40px!important;}
  .k3-05 {background: url("~@/assets/images/square.png") no-repeat -424px -172px;width:36px!important;height:40px!important;}
  .k3-06 {background: url("~@/assets/images/square.png") no-repeat -424px -215px;width:36px!important;height:40px!important;}
  .number-blue-fine {background: url("~@/assets/images/square.png") no-repeat -138px -373px;width:36px!important;height:36px!important;}   /*蓝圈细*/ 
  .number-light-fine {background: url("~@/assets/images/square.png") no-repeat -199px -373px;width:36px!important;height:36px!important;}   /*浅蓝圈细*/
  /* 六合彩 快乐十分 专用蓝色背景圆*/
  .numblue { background: url("~@/assets/images/square.png") no-repeat -1px -47px;width:40px!important;height:37px!important; } 
  .numred { background: url("~@/assets/images/square.png") no-repeat -91px -49px;width:37px!important;height:37px!important; }
}

.icon-3fpk10 {
  background: url("~@/assets/images/3FPK10.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-3fpk10-circle {
  background: url("~@/assets/images/3FPK10-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-3fssc {
  background: url("~@/assets/images/3FSSC.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-3fssc-circle {
  background: url("~@/assets/images/3FSSC-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-5f28 {
  background: url("~@/assets/images/5F28.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-5f28-circle {
  background: url("~@/assets/images/5F28-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-5fsix {
  background: url("~@/assets/images/5FSIX.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-5fsix-circle {
  background: url("~@/assets/images/5FSIX-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-5fssc {
  background: url("~@/assets/images/5FSSC.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-5fssc-circle {
  background: url("~@/assets/images/5FSSC-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-afgh90 {
  background: url("~@/assets/images/AFGH90.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-afgh90-circle {
  background: url("~@/assets/images/AFGH90-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-ah11x5 {
  background: url("~@/assets/images/AH11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-ah11x5-circle {
  background: url("~@/assets/images/AH11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-ahk3 {
  background: url("~@/assets/images/AHK3.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-ahk3-circle {
  background: url("~@/assets/images/AHK3-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-bj5fc {
  background: url("~@/assets/images/BJ5FC.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-bj5fc-circle {
  background: url("~@/assets/images/BJ5FC-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-bj11x5 {
  background: url("~@/assets/images/BJ11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-bj11x5-circle {
  background: url("~@/assets/images/BJ11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-bjkl8 {
  background: url("~@/assets/images/BJKL8.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-bjkl8-circle {
  background: url("~@/assets/images/BJKL8-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-bjpk10 {
  background: url("~@/assets/images/BJPK10.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-bjpk10-circle {
  background: url("~@/assets/images/BJPK10-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-cqklsf {
  background: url("~@/assets/images/CQKLSF.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-cqklsf-circle {
  background: url("~@/assets/images/CQKLSF-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-cqssc {
  background: url("~@/assets/images/CQSSC.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-cqssc-circle {
  background: url("~@/assets/images/CQSSC-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-fc3d {
  background: url("~@/assets/images/FC3D.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-fc3d-circle {
  background: url("~@/assets/images/FC3D-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-ff11x5 {
  background: url("~@/assets/images/FF11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-ff11x5-circle {
  background: url("~@/assets/images/FF11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-ffk3 {
  background: url("~@/assets/images/FFK3.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-ffk3-circle {
  background: url("~@/assets/images/FFK3-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-ffpk10 {
  background: url("~@/assets/images/FFPK10.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-ffpk10-circle {
  background: url("~@/assets/images/FFPK10-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-ffssc {
  background: url("~@/assets/images/FFSSC.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-ffssc-circle {
  background: url("~@/assets/images/FFSSC-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-fj11x5 {
  background: url("~@/assets/images/FJ11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-fj11x5-circle {
  background: url("~@/assets/images/FJ11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-gd11x5 {
  background: url("~@/assets/images/GD11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-gd11x5-circle {
  background: url("~@/assets/images/GD11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-gdklsf {
  background: url("~@/assets/images/GDKLSF.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-gdklsf-circle {
  background: url("~@/assets/images/GDKLSF-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}



.icon-gxk3 {
  background: url("~@/assets/images/GXK3.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-gxk3-circle {
  background: url("~@/assets/images/GXK3-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-hebk3 {
  background: url("~@/assets/images/HEBK3.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-hebk3-circle {
  background: url("~@/assets/images/HEBK3-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-hk6 {
  background: url("~@/assets/images/HK6.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-hk6-circle {
  background: url("~@/assets/images/HK6-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-hlj11x5 {
  background: url("~@/assets/images/HLJ11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-hlj11x5-circle {
  background: url("~@/assets/images/HLJ11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-hubk3 {
  background: url("~@/assets/images/HUBK3.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-hubk3-circle {
  background: url("~@/assets/images/HUBK3-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-hunklsf {
  background: url("~@/assets/images/HUNKLSF.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-hunklsf-circle {
  background: url("~@/assets/images/HUNKLSF-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-jshk6 {
  background: url("~@/assets/images/JSHK6.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-jshk6-circle {
  background: url("~@/assets/images/JSHK6-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-jlk3 {
  background: url("~@/assets/images/JLK3.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-jlk3-circle {
  background: url("~@/assets/images/JLK3-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-js11x5 {
  background: url("~@/assets/images/JS11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-js11x5-circle {
  background: url("~@/assets/images/JS11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-jsaft {
  background: url("~@/assets/images/JSAFT.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-jsaft-circle {
  background: url("~@/assets/images/JSAFT-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-jsk3 {
  background: url("~@/assets/images/JSK3.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-jsk3-circle {
  background: url("~@/assets/images/JSK3-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-jspk10 {
  background: url("~@/assets/images/JSPK10.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-jspk10-circle {
  background: url("~@/assets/images/JSPK10-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-jx11x5 {
  background: url("~@/assets/images/JX11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-jx11x5-circle {
  background: url("~@/assets/images/JX11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-krysu {
  background: url("~@/assets/images/KRYSU.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-krysu-circle {
  background: url("~@/assets/images/KRYSU-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-mlaft {
  background: url("~@/assets/images/MLAFT.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-mlaft-circle {
  background: url("~@/assets/images/MLAFT-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-paoma {
  background: url("~@/assets/images/PAOMA.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-paoma-circle {
  background: url("~@/assets/images/PAOMA-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-pcdd {
  background: url("~@/assets/images/PCDD.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-pcdd-circle {
  background: url("~@/assets/images/PCDD-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-pl3 {
  background: url("~@/assets/images/PL3.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-pl3-circle {
  background: url("~@/assets/images/PL3-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-qqssc {
  background: url("~@/assets/images/QQSSC.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-qqssc-circle {
  background: url("~@/assets/images/QQSSC-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-sd11x5 {
  background: url("~@/assets/images/SD11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-sd11x5-circle {
  background: url("~@/assets/images/SD11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-sh11x5 {
  background: url("~@/assets/images/SH11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-sh11x5-circle {
  background: url("~@/assets/images/SH11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-shssl {
  background: url("~@/assets/images/SHSSL.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-shssl-circle {
  background: url("~@/assets/images/SHSSL-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-tw3d {
  background: url("~@/assets/images/TW3D.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-tw3d-circle {
  background: url("~@/assets/images/TW3D-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-tw5fc {
  background: url("~@/assets/images/TW5FC.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-tw5fc-circle {
  background: url("~@/assets/images/TW5FC-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-twbg {
  background: url("~@/assets/images/TWBG.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-twbg-circle {
  background: url("~@/assets/images/TWBG-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}

.icon-txffc {
  background: url("~@/assets/images/TXFFC.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-txffc-circle {
  background: url("~@/assets/images/TXFFC-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-xj11x5 {
  background: url("~@/assets/images/XJ11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-xj11x5-circle {
  background: url("~@/assets/images/XJ11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-xjssc {
  background: url("~@/assets/images/XJSSC.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-xjssc-circle {
  background: url("~@/assets/images/XJSSC-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}


.icon-zj11x5 {
  background: url("~@/assets/images/ZJ11X5.png") no-repeat 0 0;
  width: 10vmin;
  height: 10vmin;
  background-size: 100% 100%;
}

.icon-zj11x5-circle {
  background: url("~@/assets/images/ZJ11X5-circle.png") no-repeat 0 0;
  height: 10vmin;
  width: 10vmin;
  background-size: 100% 100%;
}