html {
  font-size: 16px; /* The font-size of root HTML is 16px; */
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a {
  color: #cccccc;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.color-white {
  color: white;
}

.color-deepskyblue {
  color: DeepSkyBlue ;
}

.color-red {
  color: red;
}

.text-danger {
  color: red;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-normal {
  font-weight: normal;
}
.font-weight-light {
  font-weight: lighter;
}

.font-size-2p5 {
  font-size: 2.5vmin;
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1vmin !important;
}

.mb-1 {
  margin-bottom: 1vmin !important;
}

.mb-2 {
  margin-bottom: 2vmin !important;
}

.mb-3 {
  margin-bottom: 3vmin !important;
}

.mb-4 {
  margin-bottom: 4vmin !important;
}

.ml-1 {
  margin-left: 1vmin !important;
}

.ml-0p5 {
  margin-left: 0.5vmin !important;
}