html {
  font-size: 16px; /* The font-size of root HTML is 16px; */
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  
  a {
    color: #cccccc;
  }
  
  
  
  .K3-1 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px 0;
  }
  
  .K3-2 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -43px;
  }
  
  .K3-3 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -86px;
  }
  
  .K3-4 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -129px;
  }
  
  .K3-5 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -172px;
  }
  
  .K3-6 {
    background: url('~@/assets/images/numbers.png') no-repeat -424px -215px;
  }
}

