/deep/ .ivu-checkbox-checked /deep/ .ivu-checkbox-inner {
  border-color: #fa8e19;
  background-color: #fa8e19;
  outline: 0;
}

/deep/ .ivu-checkbox-checked:hover /deep/ .ivu-checkbox-inner {
  border-color: #fa8e19;
}