::v-deep .ivu-checkbox-checked ::v-deep .ivu-checkbox-inner {
  border-color: #fa8e19;
  background-color: #fa8e19;
  outline: 0;
}

::v-deep .ivu-checkbox-checked:hover ::v-deep .ivu-checkbox-inner {
  border-color: #fa8e19;
}