::v-deep .ivu-checkbox-checked  .ivu-checkbox-inner {
  border-color: #fa8e19;
  background-color: #fa8e19;
}

::v-deep .ivu-checkbox-focus {
  box-shadow: none;
}

::v-deep  .ivu-checkbox-checked:hover .ivu-checkbox-inner {
  border-color: #fa8e19;
}