.live {
  border-top: 2px solid #f0f0f0;
  @media only screen and (max-width: 767px) {
    display: none;
  }
  .lotteries {
    height: 15vmin;
  }
  .lottery {
    flex: 1 1 20%;
    img {
      width: 100%;
    }
  }
  .lottery:nth-child(n + 2) {
    margin-left: 1.1vmin;
  }
  .content {
    font-size: 1.4vmin;
  }

  ::v-deep .chen-countdown{
    font-size: 1vmin;
    .square {
      color: #000000;
      background: #ffffff;
      height: 2vmin;
      width: 1.5vmin;
    }
    & > * {
      & > * {
        height: 2vmin;
        line-height: 2vmin;
      }
    }
  }
}