.home .lottery-issue-board .lottery-issue-and-table {
  @media only screen and (max-width: 767.98px) {
    margin-top: 8vmin;
    margin-bottom: 8vmin;
  }
}

.bottom {
  & > *:nth-child(n+2) {
    margin-left: 2vmin;
  }
  & > *:hover {
    color: #ff7324;
  }
  color: #666666;
  font-size: 1.4vmin;
}
