.home .lottery-issue-board .lottery-issue-and-table {
  @media only screen and (max-width: 767.98px) {
    margin-top: 8vmin;
    margin-bottom: 8vmin;
  }
  .countdown {
    right: 0vmin;
    bottom: 0vmin;
  }
  .icon {
    width: 9.5vmin;
    img {
      width: 100%;
    }
  }
  .name-issue_no-numbers {
    margin-left: 1.6vmin; 
    line-height: 2.2;
    .top {
      margin-top: -1vmin; 
    }
  }
  .name {
    font-size: 2vmin;
    color: #000000;
  }
  .no {
    color: #ff7324;
  }
  .this-and-next {
    font-size: 1vmin;
    color: #8c8c8c;
  }
}

.bottom {
  & > *:nth-child(n+2) {
    margin-left: 2vmin;
  }
  & > *:hover {
    color: #ff7324;
  }
  color: #666666;
  font-size: 1.4vmin;

}

/deep/ .el-tabs__content {
  background-color: #ffffff;
}