.result-analysis {
  .top {
    span {
      border: 1px solid #f0f0f0;
      width: 15vmin;
      text-align: center;
      line-height: 6vmin;
      font-size: 2vmin;
      font-weight: 200;
      cursor: pointer;
    }
    span:hover {
      color: #fa8e19;
    }
  }
  .date-selection {
    width: 44%;
  }
  .picker {
    line-height: 10.8vmin;
  }
  .rank-select {
    font-size: 1.5vmin !important;
    p {
      span:not(:first-child) {
        cursor: pointer;
      }
    }
  }
  .dewdrop {
    padding-top: 0.6vmin;  
  }
}
.date-selection ::v-deep .ivu-radio-group-button .ivu-radio-wrapper {
  border: 0!important;
}