.result-analysis {
  background: #f5f5f5;
  .font-weight-bold {
    position: relative;
  }
  .top {
    border-bottom: 1px solid #f0f0f0;
  }
  // /deep/ .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
  //   width: 12vmin;
  //   height: 5vmin;
  //   font-size: 2vmin !important;
  //   font-weight: 200;
  //   text-align: center;
  //   background: #1e1616 !important;
  //   line-height: 4vmin !important;
  // }

  // /deep/ .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
  //   width: 12vmin;
  //   height: 5vmin;
  //   font-size: 2vmin !important;
  //   font-weight: 200;
  //   text-align: center;
  // }
  // /deep/ .ivu-tabs-nav-container {
  //   padding: 0px !important;
  //   margin: 0px !important;
  // }
  .nav-right {
    display: inline-block;
    position: absolute;
    top: 1.2vmin;
    left: 80vmin;
  }
  // /deep/ .ivu-radio-group-button .ivu-radio-wrapper {
  //   border: 0px;
  // }
  
  // /deep/ .ivu-radio-group-button .ivu-radio-wrapper {
  //   display: inline-block;
  //   font-size: 1vmin;
  //   transition: all .2s ease-in-out;
  //   cursor: pointer;
  //   border: 0px !important;
  //   border-left: 0;
  //   background: #fff;
  //   position: relative;
  // }

  // /deep/ .ivu-radio-group-button .ivu-radio-wrapper:after, .ivu-radio-group-button .ivu-radio-wrapper:before {
  //   background: #fff;
  // }

  .analysis-table {
    border: 1px solid #f0f0f0;
    background: #f5f5f5;
    & > div {
      position: relative;
    }
    & > div:nth-child(2) {
      overflow: auto;
      width: 100%;
      border: 1px solid #e6e6e6;
      & > div {
        min-width: 190vmin;
        white-space: nowrap;
        div {
          text-align: center;
          display: inline-block;
          width: 4vmin;
          min-height: 12vmin;
          padding-bottom: 1vmin;
        }
      }
    }
    font-size: 1.5vmin;
    input {
      width: 5vmin !important;
      margin: 0 .5vmin;
    }
    .jia {
      position: absolute;
      left: 12vmin;
      z-index: 100;
      font-size: 2vmin;
    }
    .jian {
      position: absolute;
      left: 12vmin;
      z-index: 100;
      font-size: 2vmin;
      top: 1.2vmin;
    }
    select {
      margin: 0 .5vmin;
      height: 2.7vmin;
    }
    button {
      margin: 0 .5vmin;
      background: #888aa0;
      border: 0px;
    }
  }
  .background-whilt {
    background: #fff;
  }
  .background {
    background: #f5f5f5;
  }

}