.lottery-issue {
  background: #f0f0f0;

}
.lottery-box {
  width:99%;
  margin-top:2vmin;
  margin-bottom:3vmin;
  .warm-prompt {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    color: #f1010a;
    padding-left: 30px;
    display: none;
    box-sizing: border-box;
    .flash {
      width: 100%;
      height: 40px;
      animation: warn 2s infinite ease-in-out;
      background: rgba(250,142,25,.2);
      position: absolute;
      left: 0;
      top: 0;
     i {
       width: 20px;
       height: 20px;
       position: absolute;
       top: 10px;
       right: 10px;
       display: inline-block;
       cursor: pointer;
       background: url("../../assets/images/numbers.png") no-repeat -392px -202px;
     }
    }
    @keyframes warn {
      0%{ opacity: 0.2;}
      50%{ opacity: 1;}
      100%{ opacity: 0.2;}
    }
  }
  .lottery-title {
      width:100%;
      height:14.5vmin;
      background: #fff;
      box-sizing: border-box;
      .title-box {
      white-space: nowrap;
      height:14.2vmin;
      .lottery-left {
        width: 50%;
        height: 14.2vmin;
        float: left;
        .lottery-line {
          width:100%;
          height: 100%;
          box-sizing: border-box;
          clear: both; 
          .lottery-img {
            width:21%;
            height:100%;
            text-align: center;
            padding: 0 2vmin;
            border-right: 1px solid #f0f0f0; 
            float:left;
            img{
              width: 100%;
              height:66%;
              margin-top:2.5vmin;
            }
          }
          .lottery-number {
            padding:1.5vmin 2.9vmin 0 1vmin;
            color: #666;
            height: auto;
            overflow: hidden;
            display:inline-block;
            width:47vmin;
            border-right: 1px solid #f0f0f0;
            .card-title {
              width:100%;
              font-size:1.4vmin;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
              span:first-child {
                color: #333;
                font-size:2vmin;
                font-weight: 800;
                margin-right:1vmin;  
              }
              span:last-child {
                margin: 0 0.5vmin;
                color: #ff7b00;
              }
            }
            .card-count {
              margin-top:2%;
              height: 20px;
              line-height: 20px;
              font-size:0.8rem;
              color: #666;
              text-align: left;
            }
          }
        }
      }
      .lottery-right {      
        width:49%;
        float: right;
        .next-issue {
          width:31%;
          float: left;
          margin-left:1.5%;
          font-size:0.9rem;
          .line-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 50px;
            line-height: 50px;
            span {
              margin: 0 0.5vmin;
              color: #ff7b00;
            }
          }
          .line-time {
             height: 40px;
             line-height: 40px;
            .lotterying {
              width: 95%;
              background: #212224;
              border-radius: 2px;
              color: #f7f200;
              box-sizing: border-box;
              font-size: 2vmin;
              text-align: center; 
              display: none;
            }
            .count-down {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;   
              span {
                display: inline-block;
                color: #666;
              }
              span:nth-child(odd) {    
                height:4vmin;
                width:4vmin;
                background: #444553;
                color: #ffd200;
                text-align: center;
                font-size:1.8vmin;
                border-radius: 3px;
              }
              span:nth-child(even) {margin:0 0.5vmin; }
            } 
          }
        }
        .bell-set {
          float: left;
          width:30%;
          height:11vmin;
          margin-top: 2vmin;
          border-left: 1px solid #f0f0f0;
          .close-bell {
            margin-top:1vmin;
            height: 45px;
            margin-left:3.6vmin;
            .setopen {
              width:60%;
              height:3.5vmin;
              line-height:3.2vmin;
              text-align: center;
              position: relative;
              z-index: 3;
              background: #ff7b00;
              color: #fff;
              font-size:1rem;
              border-radius:0.2rem;
              i {
                width: 100%;
                height: 100%;
                display: inline-block;
                cursor: pointer;
              }
              .bell-icon {
                width: 22px;
                height: 22px;
                position: absolute;
                z-index: 99999;
                right: -4vmin;
                top:0.6vmin;
                background: url("../../assets/images/nav-8kai.png") no-repeat -230px -334px;
              }
              .stopsound {
                background: url("../../assets/images/nav-8kai.png") no-repeat -261px -334px;
              }
              
            } 
          }
          .set-bell {
            margin-top: 0;
            height: 45px;
            margin-left:3.6vmin;
            .set-btn {
              width:60%;
              height:3.5vmin;
              line-height:3.2vmin;
              text-align: center;
              float: left;
              position: relative;
              z-index: 4;
              background:rgb(255,123,0);
              border-radius:0.2rem;
              i {
                width: 100%;
                height: 100%;
                display: inline-block;
                cursor: pointer;
                color: #fff;
                font-size:1rem; 
              }
              .sound-icon {
                width: 22px;
                height: 22px;
                position: absolute;
                z-index: 888888;
                right: -4vmin;
                top:0.6vmin; 
              }
              .start-icon {
                background: url('../../assets/images/sound-icon.png') no-repeat  0 -29px;
              }
              .stop-icon {
                background: url('../../assets/images/sound-icon.png') no-repeat  0 0;
              }
              .sound-panel {
                width: 220px;
                height: 222px;
                box-shadow: 0 0 12px rgba(0,0,0,.2);
                position: absolute;
                z-index: 999999;
                background: #fff;
                right: -5px;
                top: 44px;
                animation: all slidein 1.5s forwards;
                .close {
                  width: 22px;
                  height: 22px;
                  position: relative;
                  top: 10px;
                  right: 10px;
                  float:right;
                  cursor: pointer;
                  // background: url("../../assets/images/bjpknum3.png") no-repeat -289px -334px;
                }
                .sound-list {
                  width: 100%;
                  height: 100%;
                  ul {
                    padding-top: 10px;
                    li {
                      text-align:left;
                      padding-left:2vmin;
                      line-height:3vmin;
                      font-size:0.8rem;
                    }
                  }
                }
              }
              @keyframes slidein {
                 from {
                  width: 0;
                  height: 0;
                 }
                  to {
                  width:-100%;
                  height:-100%;
                 }
              }  
            }
            .disabled { background:rgb(204,204,204) }
          }
        }
        .lottery-video {
          cursor: pointer;
          width: 30%;
          height: 122px;
          float: right;
          padding:1vmin;
          border-left: 1px solid #f0f0f0;
          img {
            width:100%;
            height:100%;
          }
        }
      }
     }
  }
  .instant-lottery {
    width:100%;
    margin: 0 auto;
    background: #fff;
    margin-top: 0.2vmin;
    padding: 3% 0;
    .text-center {
      width:96%;
      margin: 0 auto;
      position: relative;
      .m-30 {
        margin: auto;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        ul {
          width: 100%;
          li {
            float: left;
            height: 3vmin;
            line-height: 3vmin;
            white-space: nowrap;
            overflow: ellipsis;
            a {
              display: inline-block;
              height: 3vmin;
              padding: 0 1vmin;
              box-sizing: border-box;
              width: 100%;
              font-size: 1.4vmin;
              color: #333; 
            }
            a:hover {color: orange;}
          }
        }
      }
    }
  }
  .lottery-record {
    clear: both;
    width:100%;
    margin: 1.2vmin auto 0;
    background: #fff;
    box-sizing: border-box;
    color: #555;
    .record-head {
      padding: 1vmin 2vmin; 
      box-sizing: border-box;
      white-space: nowrap;
      border-bottom: 2px solid #e7e7e7;
      ul {
        float: left; 
      }
      a { 
        color: #333;
        font-size: 1.5vmin;
        }
      a:hover { 
        color:#f9982e;
        }
      ul + div {
        float: right;
        width:9%;
        border-radius: 4px;
        border: 1px solid #ddd;
        line-height:3vmin;
        text-align: center;
      }
      .selectcolor {
        width:25%!important;
        float: right;
        border-radius: 4px;
        margin-top: 7px;
        em {
          border: none;
          width: auto;
          font-size: 1.5vmin;
          color: #0b924a;
        }
        span {
          width: 26px;
          height: 21px;
          line-height: 22px;
          display: inline-block;
          box-sizing: border-box;
          border: 1px solid #d0d0d0;
          border-radius: 2px;
          cursor: pointer;
          margin-left: 1.6vmin;
        }
        span:nth-child(2) {
          background-color: #fff;
        }
        span:nth-child(3) {
          background-color: #daf0e2;
        }
        span:nth-child(4) {
          background-color: #d6e8f0; 
        }
        span:nth-child(5) {
          position: relative;
          top:3px;
          width: 26px;
          border: 1px solid #68c4ee;
          // background: #ededed url("../../assets/images/bjpknum3.png") no-repeat  -380px -248px;
          .el-color-picker {
            top:0;
            left:0px;
            width:100%;
            height:100%;
            position:absolute;
          }
        }
        .select {
          // background: url("../../assets/images/bjpknum3.png") no-repeat -331px -248px;
          border: 1px solid #eb8618!important;
        }
      }
    }
    .past-records {
      height: 50px;
      border-bottom: 1px solid #e5e5e5;
      .records-l {
        width: auto;
        float: left;
        position: relative;
        font-size: 18px;
        span {
           padding-left: 20px;
           font-weight: 800;
           display: inline-block;
           height: 45px;
           line-height: 45px;
           cursor: pointer;
        }
      }
      .records-r {
        width: 465px;
        float: right;
        height:43px;
        position: relative;
        top: 2px;
        right: 103px;
        .calendar {
          float: right;
          width: 50%;
          height: auto;
          font-size: 12px;
          position: relative;
          z-index: 3;
          .righttime {
            width: 223px;
            height: 50px;
            .dateframe {
              width: 223px;
              position: relative;
              z-index: 4;
              left: 0;
              top:3px;
            }
          }
        }
        .calendar>div {
          width:auto;
          float: right;
        }
        .day {
          width:auto;
          float:right;
          height:auto;
          font-size:12px;
          margin-top:10px;
          span {
            cursor: pointer;
            float: left;
            padding: 0 10px;
            height: 28px;
            line-height: 28px;
          }
          .checked {
            border-radius: 4px;
            background: #fa8e19;
            color: #fff;
          }
        }
      }
    }
    .past-records>div {
      display: inline-block;
    }
    div {
      width:100%;
      height:auto;
      overflow:hidden;
      ul {
        li {
          cursor: pointer;
          width: auto;
          height: 3vmin;
          line-height:3vmin;
          padding: 0 1vmin;
          margin-right:2.5vmin;
          border: 1px solid #ddd;
          border-radius: 4px;
          display: inline-block;
          white-space: nowrap;
          a {color: #444;font-size:0.8rem;}
        }
        .title {
          color: #333;
          font-weight: 800;
          font-size: 1.3rem;
          margin-right:2vmin;
          padding: 0;
          border: 1px solid transparent;
          white-space: nowrap;
        } 
      } 
    }
  }   
}