.positon-trend {
  .announcement-wrapper {
    z-index: 3;
    padding: .7vmin 1vmin;
    background: #edf4fa;
    border: 1px solid #e3e3e3;
    left:2vmin;
    right:2vmin;
    div {
      overflow: hidden;
      height: 2.8vmin;
      padding: 0;
      transition: height .1s ease;
      p {
        line-height: 2.8vmin;
        cursor: pointer;
      }
    }
    .announcement-showed {
      height: 28vmin;
    }
  }
  .announcement-wrapper + div{
    margin-top: 8vmin;
  }
  table {
    .background-tr {
      background: #e6e6e6;
      span {
        position: relative;
        top: 2vmin;
      }
    } 
    td {
      padding: 1vmin;
      border: 1px solid #d6d6d6;
      font-size: 1.4vmin;
    }
    .background-orange-font-white {
      background: #FBA75E;
      color: white;
    }
    .background-blue-font-white {
      background: #3CB0EC;
      color: white;
    }
    tr ~ tr {
      td:nth-child(2) {
        span {
          margin: 0 .3vmin;
        }
      }
      td:nth-child(2) ~ td {
        width: 5vmin;
        span {
          border-radius: 50%;
          width: 2.1vmin;
          height: 2.1vmin;
          line-height: 2.1vmin;
          display: inline-block;
        }
      }
    }
  }
}

.head-top ::v-deep .ivu-radio-group-button .ivu-radio-wrapper {
  border: 0!important;
}
