#chat {
  margin-top: -59px;
}
.imgpreview-dialog .img-wrap img {
  max-width: 200px !important;
}
#chat {
  margin-top: -59px;
}
.viewTransition-enter-active,
.viewTransition-leave-active {
  transition: opacity 0.5s;
}
.viewTransition-enter,
.viewTransition-leave-to {
  opacity: 0;
}
.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring {
  display: inline-block;
  position: absolute;
  // top: 0px;
  // left: 22%;
  margin-left: -49px;
  background: #fff !important;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 36%;
  height: 36%;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #d6d6d6 transparent #d6d6d6 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Bubble{
  position: relative;
}
.SYSTEM{

}
.ADMIN{
  position:relative;
  background: linear-gradient(to right, rgb(255, 115, 0), rgb(231, 193, 26));
  border-left-color: rgb(231, 193, 26);
  border-right-color: rgb(255, 115, 0);
}
.MEMBER{
  background: linear-gradient(to right, rgb(25, 158, 216), rgb(2, 231, 231));
  border-left-color: rgb(2, 231, 231);
  border-right-color: rgb(25, 158, 216);
  color: rgb(255, 255, 255);
}
