.analysis {
  background-color: #ffffff;
  > .top {
    padding: 1.6vmin 2vmin 1.6vmin 2vmin;
  }
  .line {
    border-bottom: 1px solid #eeeeee;
  }
  .title {
    font-size: 2vmin;
  }
  .icon {
    width: 5vmin;
    img {
      width: 100%;
    }
  }
  .more {
    font-size: 1vmin;
    right: 2vmin;
    color: #999999;
  }
  .lottery {
    padding: 1.6vmin 2vmin 1.6vmin 2vmin;
  }
  .lottery .top, .lottery .trend, .lottery .candlestick {
    margin-bottom: 1.6vmin; 
    margin-top: 1.6vmin;
  }

  .lottery .trend .top *, .lottery .candlestick .top *{
    vertical-align: middle;
  }

  .list li {
    display: inline-block;
    color: #999999;
    line-height: 1.5;
  }
  .list li {
    margin-right: 1vmin;
  }
  .more:hover, .message:hover {
    color: #f9982e;
  }
}