.analysis {
  background-color: #ffffff;
  > .top {
    padding: 1.6vmin 2vmin 1.6vmin 2vmin;
  }
  .line {
    border-bottom: 1px solid #eeeeee;
  }
  .title {
    font-size: 2vmin;
  }
  .icon {
    width: 6vmin;
    img {
      width: 100%;
    }
  }
  .more {
    font-size: 1vmin;
    right: 2vmin;
    color: #999999;
  }
  .lotteries {
    padding: 1.6vmin 2vmin 1.6vmin 2vmin;
  }
  .list li {
    display: inline-block;
  }
  .list li:nth-child(n+1) {
    margin-left: 1vmin;
  }
  .more:hover, .message:hover {
    color: #f9982e;
  }
}