
/deep/ .el-tabs--border-card {
  background: #fff;
  border: 0px solid #dcdfe6;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.12), 0 0 0px 0 rgba(0,0,0,.04);
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.12), 0 0 0px 0 rgba(0,0,0,.04);
}

// /deep/ .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
//   color: #ff7b00;
// }
// /deep/ .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
//   color: #ff7b00;
// }
// /deep/ .el-tabs__item {
//   font-size: 2vmin;
// }

.lottery-issue {
  .lotteries {
    padding: 2vmin 2vmin 2vmin 2vmin;
  }
  .lottery {


    .countdown {
      right: 0vmin;
      top: 5vmin;
    }
    .icon {
      width: 9.5vmin;
      img {
        width: 100%;
      }
    }
    .name-issue_no-numbers {
      margin-left: 1.6vmin; 
      line-height: 2.2;
      .top {
        margin-top: -1vmin; 
      }
    }
    .name {
      font-size: 2vmin;
      color: #000000;
    }
    .no {
      color: #ff7324;
    }
    .this-and-next {
      font-size: 1vmin;
      color: #8c8c8c;
    }
  }

  .bottom {
    & > *:nth-child(n+2) {
      margin-left: 2vmin;
    }
    & > *:hover {
      color: #ff7324;
    }
    color: #666666;
    font-size: 1.4vmin;
  }
}

