.toolbar {
  background-color: #ffffff;
  width: 26%;
  border: 1px solid #e7e7e7;
  float: left;
  & > p {
    margin: 0 auto;
    text-align: center;
    padding: 1.2vmin 0;
    span {
      font-size: 2vmin;
    }
  }
}