/deep/ .ivu-spin-fix {
  z-index: 1099;
}

/deep/ .ivu-spin-dot {
  background-color: #FF7B00;
}
.spin-icon-load {
  animation: ani-demo-spin 1s linear infinite; 
}
.loading-color, .ivu-spin {
  font-size: 2vmin;
  color: #FF7B00;
}