.chen-countdown{
  font-size: 1.5vmin;
  .square {
    border-radius: 3px;
    text-align: center;
    height: 3.5vmin;
    width: 3.5vmin;
    color: #fff;
    background: #ff7b00;

  }
  & > * {
    & > * {
      height: 3.5vmin;
      line-height: 3.5vmin;
    }
  }
}