.chen-countdown{
  .square {
    border-radius: 3px;
    text-align: center;
    height: 4vmin;
    width: 4vmin;
    color: #fff;
    background: #ff7b00;
    font-size: 2vmin;

    & > * {
      line-height: 4vmin;
    }
  }
}