.today-two-side-number-statics {
    width: 100%;
    border-bottom: 0.2vmin solid #e7e7e7;
      table {
        background: #e6e6e6;
        width: 100%;
        tr {
          height:4.5vmin;
          line-height:4.5vmin;
          th {
            font-size: 1.3vmin;
            background: #f5f5f5;
            text-align: center;
            border:1px solid #e6e6e6;
          }
          .ball-time {
            position: relative;
            top:2.2vmin; 
          }
          td {
            background:#fff;
            color:#666;
            text-align:center;
            border:1px solid #e6e6e6;
            font-size:0.8vmin;
          }
        }
      }
}
