.Crown-or-second-sum-two-side-history {
  .explain {
    position: relative;
    padding: .7vmin 0 .7vmin 1vmin;
    background: #edf4fa;
    border: .1vmin solid #e3e3e3;
  }
  table {
    .background-tr {
      background: #EBEBEB;
    } 
    td {
      padding: 1vmin 0;
      border: 1px solid #d6d6d6;
      text-align: center;
    }
    td:nth-child(n+2) {
      width: 10.8vmin;
    }
  }
 
}

