.number-analysis {
  border-bottom: 2px solid #e7e7e7;
  .head {
    width: 100%;
    span:nth-of-type(n+2) {
      padding:0.6vmin 1.1vmin;
      border-radius:0.5vmin;
      border:1px solid #DDDDDD;
      font-size:1.3vmin;
      margin-right:0.8vmin;
      @media only screen and (max-width: 767.98px) {
        padding:0.3vmin 0.3vmin;
        margin-right:0; 
      }
    }
    span:nth-of-type(n+2):hover {
      cursor: pointer;
      color:#f4831e;
    } 
    .reset {
      padding:0.5vmin 3.2vmin;
      border-radius:0.5vmin;
      background:#f9982e;
      text-align: center;
      color:#fff;
    } 
    .reset:hover {
      color: #fff !important;
      cursor: pointer; 
    }
  }
}