.number-analysis {
  .head {
    min-width: 100%;
    box-sizing: border-box;
    span:nth-of-type(n+2) {
      padding:0.6vmin 1.1vmin;
      border-radius:0.5vmin;
      border:1px solid #DDDDDD;
      font-size:1.3vmin;
      margin-right:0.8vmin;
    }
    span:nth-of-type(n+2):hover {
      cursor: pointer;
      color:#f4831e;
    } 
    .reset {
      padding:0.6vmin 3.2vmin;
      border-radius:0.5vmin;
      background:#f9982e;
      text-align: center;
      color:#fff;
    } 
    .reset:hover {
      color: #fff !important;
      cursor: pointer; 
    }
  }
}