.board {
  /deep/ .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
    outline-color: #ffffff;
    outline-style: none;
    border: 0 solid #ffffff;
    margin-right: 0;
    padding: 5px 7px 4px;
    background: #ffffff;
  }
  /deep/ .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab-active {
    color: #000000;
  }
  /deep/ .ivu-tabs-nav-scroll {
    background: #ffffff;
  }

  /deep/ .ivu-tabs-nav-container {
    font-size: 1.5vmin;
  }
}