
.ivu-radio-group-button ::v-deep .ivu-radio-wrapper:first-child, .ivu-radio-group-button ::v-deep .ivu-radio-wrapper:last-child {
  border-radius: 0.5vmin; 
  border: 1px solid #ff7b00;
  border-left: 1px solid #ff7b00;
}

.ivu-radio-group-button ::v-deep .ivu-radio-wrapper {
  margin: 0 .5vmin;
  border-radius: .5vmin;
  border: 1px solid #CCCCCC !important;
  border-left: 0 ;
}

 .ivu-radio-group-button ::v-deep .ivu-radio-wrapper:after, .ivu-radio-group-button ::v-deep .ivu-radio-wrapper:before {
  display: none !important;
}
 .ivu-radio-group-button ::v-deep .ivu-radio-wrapper-checked {
  background: #ff7b00 !important;
  color: #fff !important;
  border-radius: 0.5vmin; 
  border: 1px solid #ff7b00 !important;
  box-shadow: 0px 0 0 0 #ff7b00 !important;
}
.ivu-radio-group-button ::v-deep .ivu-radio-wrapper:hover {
  color: #ff7b00;
}
.ivu-radio-group-button ::v-deep .ivu-radio-wrapper-checked:hover {
  color: #fff !important;
}
