.accumulation-remider {
  p {
    &>span {
      margin-top: 0.5vmin;
      width: 16vmin;
      height: 3.5vmin;
      line-height: 3.5vmin;
      font-size: 1.3vmin;
      border: 1px solid #E7E7E7;
      @media only screen and (max-width: 767.98px) {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
    }
  }
} 