.number-or-law-count {
  .announcement-wrapper {
    z-index: 3;
    padding: .7vmin 1vmin;
    background: #edf4fa;
    border: 1px solid #e3e3e3;
    left:2vmin;
    right:2vmin;
    div {
      overflow: hidden;
      height: 2.8vmin;
      padding: 0;
      transition: height .1s ease;
      p {
        line-height: 2.8vmin;
        cursor: pointer;
      }
    }
    .announcement-showed {
      height: 5vmin;
    }
  }
  .announcement-wrapper + div{
    margin-top: 8vmin;
  }
  .lawCount-table table {
      margin: 0 auto 0;
      td {
        text-align: center;
        border: 1px solid #D6D6D6;
        span {
        display: inline-block;
        }
      }
      tr:nth-child(n+3) {
        td {
          line-height: 4vmin;
        }
      }
      .parity-numbers {
        color: #968e8e;
      }
      tr:nth-child(1),tr:nth-child(2) {
        background: #ebebeb;
        i {
          top: 1.2vmin;
        }
      }
  }
}

.number-or-law-count ::v-deep .ivu-badge {  
  width: 3vmin;
  height: 3vmin;
  margin-right: 1vmin; 
}

.ivu-checkbox-wrapper ::v-deep .ivu-checkbox-checked  .ivu-checkbox-inner {
  border-color: #ff7b00;
  background-color: #ff7b00;
}

.ivu-checkbox-wrapper ::v-deep .ivu-checkbox-checked .ivu-checkbox-focus {
  box-shadow: none;
}

.number-or-law-count ::v-deep .ivu-checkbox-checked  .ivu-checkbox-inner:after {
  top: .3vmin;
  left: .6vmin;
}
.number-or-law-count .ivu-checkbox-wrapper span {
  width: 1.8vmin !important;
  height: 1.8vmin !important;
  margin-right: 0 !important;
}

.number-or-law-count ::v-deep table  span .checkbox {
  width: 1vmin;
  height: 1vmin;
}

