.number-or-law-count {
  .explain {
    position: relative;
    padding: .7vmin 0 .7vmin 1vmin;
    background: #edf4fa;
    border: .1vmin solid #e3e3e3;
  }
  .explain+div {
    span {
      cursor: pointer;
    }
  }
  table {
    margin: 0 auto 0;
    td {
      text-align: center;
      border: .2vmin solid #968e8e;
      span {
        padding: 1vmin 2vmin;
        display: inline-block;
      }
    }
    .parity-numbers {
      color: #968e8e;
    }
    tr:nth-child(1),tr:nth-child(2) {
      background: #ebebeb;
      span {
        position: relative;
        top: 1vmin;
      } 
    }
  }
}

