.prediction {
  background-color: #ffffff;
  .top {
    padding: 1.6vmin 2vmin 1.6vmin 2vmin;
  }
  .line {
    border-bottom: 1px solid #eeeeee;
  }
  .title {
    font-size: 2vmin;
  }
  .more {
    font-size: 1vmin;
    right: 2vmin;
    color: #999999;
  }
  .messages {
    padding: 2vmin 2vmin 2vmin 2vmin;
  }
  .message {
    font-size: 1.6vmin;
    color: #666666;
    line-height: 2;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (max-width: 1199.98px) {
      font-size: 1vmin;
    }
  }
  .more:hover, .message:hover {
    color: #f9982e;
  }
}