.lottery-issue {
  .title {
    font-size: 2vmin;
  }
  .top {
    border-bottom: 1px solid #f0f0f0;
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(45vmin);
    opacity: 0;
  }
  background: #ffffff;
}