.lottery .board .lottery-issue {
  .title {
    font-size: 2vmin;
  }
  .top {
    border-bottom: 2px solid #f0f0f0;
  }
  /deep/ .ivu-btn:hover {
    color: #FF7B00;
    border-color: #FF7B00;
  }
  /deep/ .ivu-btn:focus {
    box-shadow: 0 0 0 0 rgba(255,123,0,0);
  }
  background: #ffffff;
}