.page.lottery .pannel {
  .icon {
    flex: 0 1 10vmin;
  }
  .no {
    color: #f90;
  }
  .name-lottery_issue_no{
    flex: 1 1 30vmin;
  }

  .countdown {
    flex: 0.1 1 20vmin;
    ::v-deep .chen-countdown {
      .square {
        background: #444553;
        color: #ffd200;
      }
    }
  }

  .live {
    flex: 0 1 20vmin;
  }

  .text {
    color: #666666;
  }
  .sounds {
    color: #f90;
  }
  & > * {
    border-right:1px solid #f0f0f0;
  }
  & > *:last-child {
    border-right: 0 solid #f0f0f0;
  }
  border-bottom: 1px solid #f0f0f0;

  ::v-deep .numbers {
    margin-left: -0.7vmin;
  }
}