.pannel {
  .icon {

  }
  .name-lottery_issue_no{
    flex-grow: 1;
  }

  .countdown {
    flex-grow: 1;
    .top {
      font-size: 1.5vmin;
    }
  }

  .live {
    flex: 1 1 1;
  }
  .name {
    font-size: 2.5vmin;
  }
  .no {
    color: #f90;
  }
  .text {
    color: #666666;
  }
  .sounds {
    color: #f90;
    font-size: 2vmin;
  }
  & > * {
    border-right:1px solid #f0f0f0;
  }
  & > *:last-child {
    border-right: 0 solid #f0f0f0;
  }
  border-bottom: 1px solid #f0f0f0;

  /deep/ .numbers {
    margin-left: -0.7vmin;
  }
}