.page.lottery .pannel {
  .icon {

  }
  .no {
    color: #f90;
  }
  .name-lottery_issue_no{
    flex-grow: 1;
    .name {
      font-size: 2vmin;
    }

  }

  .countdown {
    flex-grow: 1;
    /deep/ .chen-countdown{
      .square {
        background: #444553;
        color: #ffd200;
      }
    }
  }

  .live {
    flex: 1 1 1;
  }

  .text {
    color: #666666;
  }
  .sounds {
    color: #f90;
    font-size: 2vmin;
  }
  & > * {
    border-right:1px solid #f0f0f0;
  }
  & > *:last-child {
    border-right: 0 solid #f0f0f0;
  }
  border-bottom: 1px solid #f0f0f0;

  /deep/ .numbers {
    margin-left: -0.7vmin;
  }
}