.trend {
  background: #f0f0f0;
  /deep/ .el-tabs--card>.el-tabs__header .el-tabs__nav {
    border: 0 solid #E4E7ED;
  }
  /deep/ .el-tabs--card>.el-tabs__header .el-tabs__item {
    border: 0 solid transparent;
  }
  /deep/ .el-tabs__item {
    // padding: 0 20px;
    height: 6vmin;
    // -webkit-box-sizing: border-box;
    // box-sizing: border-box;
    line-height: 6vmin;
    // display: inline-block;
    // list-style: none;
    font-size: 1.8vmin;
    font-weight: 400;
    // color: #303133;
    // position: relative;
  }
  /deep/ .ivu-tabs-nav-container {
    background-color: #ffffff;
  }

  /deep/ .parent .ivu-tabs-bar {
    border-bottom: 0px solid #dcdee2;
  }
  /deep/ .parent .ivu-tabs-nav .ivu-tabs-tab-active {
    font-size: 2.2vmin;
  }

  /deep/ .parent .ivu-tabs-nav-container {
    font-size: 2vmin;
  }

  /deep/ .parent .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
    margin: 0;
    margin-right: 4px;
    height: 31px;
    border: 0px solid #dcdee2;
    border-bottom: 0;
    background: #f8f8f9;
  }

  /deep/ .son .ivu-tabs-bar {
    border-bottom: 2px solid #dcdee2;
  }

  /deep/ .son .ivu-tabs-nav-container {
    font-size: 1.5vmin;
  }
  /deep/ .son .ivu-tabs-nav .ivu-tabs-tab-active {
    font-size: 1.8vmin;
  }
  /deep/ .son .ivu-tabs-card >ã€€.ivu-tabs-bar {
    // border-bottom: 0px solid #dcdee2;
    background-color: #ffffff;
    margin-bottom: 16px;
  }

}