.two-side-statics {
  padding-bottom: 2vmin;
  .title {
    font-size: 2vmin;
  }
  .top {
    border-bottom: 1px solid #f0f0f0;
  }
  .explain {
    width: 97%;
    margin: 2vmin auto 0;
    padding: .7vmin 0 .7vmin 1vmin;
    background: #edf4fa;
    font-size: 1vmin;
    border: .1vmin solid #e3e3e3;
    & > span:nth-child(1) {
      color: #0092dd;
    }
  }
  .ball-number {
    width: 97%;
    margin: 2vmin auto 0;
    font-size: 1vmin;
  }
  & > table {
    table-layout:fixed;
    width: 97%;
    margin: 2vmin auto 0;
    font-size: 1vmin;
    tr {
      td {
        text-align: center;
        border: .1vmin solid #968e8e;
        padding: 1.5vmin 0;
      }
    }
    tr:nth-child(2n+1) {
      background: #ebebeb;
    }
  }



  background: #ffffff;
}