.menu {
  height: 6vmin;
  span {
   line-height: 6vmin;
  }
  span:hover {
    background: #EB7100; 
  }
}
.sub-menu {
  width: 100%;
  background: #fff;
 // display: none;
  left: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
  .down-menu {
    .lottery-type {
      width:98%;
      margin: auto;
      border-bottom:2px solid #E7EAED;
      .type-title {
        vertical-align: top;
      }
      .lottery-title {
        padding: 0.5vmin 1vmin; 
        border-radius: 0.3vmin;
        vertical-align: top;
      }
      .lottery-title:hover {
        background: #EB7100;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}