.menu {
  height: 6vmin;
  span {
   border-top:1px solid  #EB7100;
   line-height: 6vmin;
  }
  span:hover {
    background: #EB7100; 
  } 
  span:nth-child(2):hover {
    background: #fff; 
    color: red;
    a { 
      color: red !important; 
    }
  } 
}
.sub-menu-board {
  background: #fff;
 // display: none;
  left: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
  .sub-menu {
    .lottery-type {
      width:98%;
      margin: auto;
      border-bottom:2px solid #E7EAED;
      .type-title {
        vertical-align: top;
      }
      .lottery-right {
        flex: 1;
      }
      .lottery-icon {
        width: 2vmin;
        height: 2vmin;
        background-size: 1.8vmin 1.8vmin; 
        vertical-align: middle;
      }
      .lottery-title {
        width: 10.3vmin;
        height: 2.6vmin;
        line-height: 2.6vmin;
        border-radius: 0.3vmin;
        vertical-align: middle;
      }
      .lottery-title:hover {
        background: #EB7100;
        a { 
          color: #fff;
        }
      }
      .hot-pisotion {
        top: -1.2vmin;
        right: -1vmin;
      }
    }
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
  transition: opacity 0.5s;
}
