.today-number-statics{
  padding-bottom: 2vmin;
  .top {
    span {
      span {
        border: .1vmin solid #e3e3e3;
        padding: .5vmin 2vmin;
        text-align: center;
      }
    }
    .cursor {
      cursor: pointer;
    }
    & > span:nth-child(2n) {
      width: 2vmin;
      height: 2vmin;
      margin: 0 1vmin;
      font-size: 1.6vmin;
      text-align: center;
      line-height: 2vmin;
    }
    .border-radius {
       border-radius: 50%; 
    }
  }
  table {
    table-layout: fixed;
    width: 97%;
    margin: 2vmin auto 0;
    font-size: 1.5vmin;
    td {
      text-align: center;
      border: .1vmin solid #968e8e;
      padding: 1.5vmin 0;
    }
    tr:nth-child(1),tr:nth-child(2) {
      background: #ebebeb;
      span {
        position: relative;
        top: 2.4vmin;
      }
    }
  }
  background: #ffffff;
}