/deep/ .ivu-tabs-ink-bar {
  color: #ff7b00;
}

/deep/ .ivu-tabs-nav .ivu-tabs-tab-active {
  color: #ff7b00;
}

/deep/ .ivu-tabs-ink-bar:hover {
  color: #ff7b00;
}

/deep/ .ivu-tabs-nav .ivu-tabs-tab-active:hover {
  color: #ff7b00;
}
.ivu-tabs-nav .ivu-tabs-tab:hover {
  color: #ff7b00;
}