/deep/ .ivu-tabs-ink-bar {
  color: #ff7b00;
  background-color: #ff7b00;
}

/deep/ .ivu-tabs-nav .ivu-tabs-tab-active {
  color: #ff7b00;
  
  @media only screen and (min-width: 992px) {
    font-size: 1.2vmin;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 1.8vmin;
  }


}

/deep/ .ivu-tabs-nav .ivu-tabs-tab {
  @media only screen and (min-width: 992px) {
    padding: 0.6vmin 0.6vmin;
  }
  
  @media only screen and (min-width: 1200px) {
    padding: 1vmin 1vmin;
  }

} 

/deep/ .ivu-tabs-ink-bar:hover {
  color: #ff7b00;
}

/deep/ .ivu-tabs-nav .ivu-tabs-tab-active:hover {
  color: #ff7b00;
}
/deep/ .ivu-tabs-nav .ivu-tabs-tab:hover {
  color: #ff7b00;
}

/deep/ .ivu-tabs-nav-container {
  @media only screen and (min-width: 992px) {
    font-size: 1vmin;
  }

  @media only screen and (min-width: 1200px) {
    font-size: 1.6vmin;
  }

}

.ivu-tabs.ivu-tabs-card { 
  /deep/ .ivu-tabs-bar .ivu-tabs-tab-active {
  // height: 52px;
  // padding-bottom: 5px;
  // background: #fff;
  // transform: translateZ(0);
  // border-color: #dcdee2;
    color: #ff7b00;
    line-height: 2;
    height: inherit;
  }
  /deep/ .ivu-tabs-bar .ivu-tabs-tab {
    line-height: 2;
    height: inherit;
  }
}
