.basic-trend {
  background: #ffffff;
  .fictitious {
    & > div {
      width: 100%;
      overflow: auto;
      border-right: .1vmin solid #b1adad;
      border-bottom: .1vmin solid #b1adad;
    }
    table {
      width: 156%;
      font-size: 1.3vmin;
      td {
        border: .2vmin solid #b1adad;
        padding: 0.7vmin 0;
        text-align: center;
        span {
          display: inline-block;
          border-radius: 50%;
          min-width: 2vmin;
          min-height: 2vmin;
          text-align: center;
          line-height: 2vmin;
        }
      }
      .background-shallow-beige {
        background: #FCF8F3;
      }
      .background-shallow-blue {
        background: #F0F9FC;
      }
      .background-shallow-green {
        background: #F0FCF0;
      }
      .background-shallow-gray {
        background: #F0F1FC;
      }
      .background-shallow-blueness {
        background: #F0FCF7;  
      }
      .w-7 {
        width:7%;
      }
      .w-6 {
        width:6%;
      }
      tr:nth-child(1),tr:nth-child(2),.data-count {
        background: #f5f5f5;
        span {
          position: relative;
          top: 2vmin;
        }
      }
      tr:nth-child(2) ~ tr > td:nth-child(2) {
        span {
          display: inline;
          padding: 0.5vmin;
        }
      } 
    }
  }
}