.basic-trend {
  .fictitious {
    & > div {
      width: 100%;
      overflow: auto;
      border-left: .1vmin solid #b1adad;
      border-right: .1vmin solid #b1adad;
      border-bottom: .1vmin solid #b1adad;
    }
    table {
      width: 156%;
      font-size: 1.3vmin;
      .background-shallow-beige {
        background: #FCF8F3;
      }
      .background-shallow-blue {
        background: #F0F9FC;
      }
      .background-shallow-green {
        background: #F0FCF0;
      }
      .background-shallow-gray {
        background: #F0F1FC;
      }
      .background-shallow-blueness {
        background: #F0FCF7;  
      }
      .background-shallow-pink {
        background: #fcf0f5;  
      }
      .background-shallow-yellow {
        background: #fcf8f3;  
      }
      .background-shallow-celadon {
        background: #f0f1fc;  
      }
      .background-shallow-prasinous {
        background: #f0fcf0;  
      }
      .background-shallow-red {
        background: #ffffff;  
      }

      .background-thead {
        background: #f5f5f5;
        th{
          padding: 0.7vmin 0;
          border: #b1adad 1px solid;
          span {
            position: relative;
            top: 2vmin;
          }
        }
      }
      .background-tbody {
        th{
          border: #b1adad 1px solid;
        }
        td:nth-child(1), td:nth-child(2) {
          padding:0 1.2vmin ;
          border: #b1adad 1px solid;
          text-align: center;
          span {
            margin-right: 0.6vmin
          }
        }
        td:nth-child(n+3) {
          padding: 0 .6vmin;
          border: #b1adad 1px solid;
          text-align: center;
          line-height: 3vmin;
          height: 3vmin;
            span {
              display: inline-block;
              border-radius: 50%;
              width: 2.1vmin;
              height: 2.1vmin;
              line-height: 2.3vmin;
            }
            .option {
              opacity: 0;
            }
        } 
      }
    }
  }
}

::v-deep .ivu-radio-group-button .ivu-radio-wrapper {
  border: 0!important;
}
