.numbers {
  .ccs {
    display: inline-block;
    margin-left: 0.5vmin;
    width: 4vmin;
    height: 4vmin;
    text-align: center;
    color: #ffffff;
    background-color: #0092dd;
    font-size: 1.6vmin;
    border-radius: 2vmin;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}