.summary-analysis {
  /deep/ .ivu-btn {
    padding: 0.5vmin 1.5vmin 0.5vmin;
    font-size: 1vmin;
    border-radius: 0.5vmin;
  }
  /deep/ .ivu-btn:hover {
    color: #FF7B00;
    border-color: #FF7B00;
  }
  /deep/ .ivu-btn:focus {
    box-shadow: 0 0 0 0 rgba(255,123,0,0);
  }
   background: #ffffff;
    td {
      border: 1px solid #d4d4d4;
      padding: 1.5vmin 0;
      text-align: center;
    }
    tr:nth-child(2n+1) {
      background: #F5F5F5;
    }
    tr ~ tr td:nth-child(2) {
      padding: 0 ;
    }
  table:nth-child(3) {
    tr:nth-child(1),tr:nth-child(2) {
      background: #F5F5F5;
      span {
        position: relative;
        top: 2.5vmin;
      }
    }
    tr:nth-child(3) {
      background: #fff !important;
    }
  }
.long-reminder {
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 2vmin;
  & > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    div {
      border: 1px solid #b6b6b6;
      width: 17vmin;
      padding: 1vmin 2vmin ;
      text-align: center;
      margin: 2vmin 0 0 4vmin;
    }
  }
}
}

