footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #3f404f;
  color:#999999;

  .title {
    font-size: 2vmin;
    margin: 0 0 10px 0;
  }
  .middle {
    text-align: left;
    margin: 40px 0 40px 0;
    font-size: 5vmin;
    /deep/ .el-row > div:first-child {
      .content * {
        margin: 0 0 0 0;
      }
    }
  }
  @media screen and (max-width: 766.98px) {
    .middle {
      text-align: center;
    }
  }

  .content {
    font-size: 1.6vmin;
  }

  .content * {
    line-height: 3vmin;
    margin: 0 0 0 1.4vmin;
  }
  .bottom {
    text-align: center;
    background: #f0f0f0;
    height: 60px;
    line-height: 60px;
    color: #999;
    font-size: 1.4vmin;
    .content {
      span:last-child {
        margin-left: 1vmin;
        color: #000000;
      }
    }
  }
}