footer {
  position: absolute;
  width: 100%;
  background-color: #3f404f;
  a {
    color:#999999;
  }
  color:#999999;

  .title {
    font-size: 2vmin;
    margin: 0 0 10px 0;
  }
  .middle {
    text-align: left;
    margin: 6vmin 0 6vmin 0;
    font-size: 5vmin;
    ::v-deep .Row > div:first-child {
      .list * {
        margin: 0 0 0 0;
      }
    }
  }
  @media screen and (max-width: 766.98px) {
    .middle {
      text-align: center;
    }
  }

  .list, .content {
    font-size: 1.6vmin;
  }

  .list *, .content * {
    line-height: 3vmin;
    margin: 0 0 0 1.4vmin;
  }
  .bottom {
    text-align: center;
    background: #f0f0f0;
    height: 8vmin;
    line-height: 8vmin;
    color: #999;
    font-size: 1.4vmin;
    .content {
      span:last-child {
        margin-left: 1vmin;
        color: #000000;
      }
    }
  }
}