footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #3f404f;
  text-align: center;
  color:#999999;

  .title {
    font-size: 2vmin;
  }

  .content {
    margin-left: 13.6vmin;
    font-size: 1.6vmin;
  }

  .content:first-child  {
    margin-left: 6vmin;
  }


  .content * {
    text-align: left;
  }
  .bottom {
    background: #f0f0f0;
    height: 60px;
    line-height: 60px;
    color: #999;
    font-size: 1.4vmin;
    .content {
      span:last-child {
        margin-left: 1vmin;
        color: #000000;
      }
    }
  }
}